<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>약파고: 내 손안의 작은 약국</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=c5x9tl4zl8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bootstrap/js/html5shiv.js"></script>
    <script src="bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <!--font added-->
    
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <style type="text/css">
    h1{font-family: 'Righteous', cursive;}
    </style>
</head>

<body data-spy="scroll" data-target="#topnav">

{% for i in data %}
<div class = "name" style = "display : none">{{ i[0] }}</div>
<div class = "address" style = "display : none">{{ i[1] }}</div>
<div class = "number" style = "display : none">{{ i[2] }}</div>
<div class = "lat" style = "display : none">{{ i[4] }}</div> 
<div class = "log" style = "display : none">{{ i[3] }}</div>
{% endfor %}

<div class="navbar navbar-inverse navbar-fixed-top" id="topnav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
       
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">YAKPAGO</a></li>
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#Services">서비스</a></li>
                <li><a href="#Searching">진단하기</a></li>
                <li><a href="#Result">결과</a></li>
                <li><a href="#features">지도</a></li>
            </ul>

        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron top" id="home">
    <div class="container">
        <div class="media">
            <!--<a href="#" class="pull-right"><img class="media-object" src="../static/images/Finder_256.png"/></a>-->

            <div class="media-body">
                <div class="col-md-11">
                    <h1 class="title strong">
                        <span style="color:#ffffff">YAKPAGO</span></h1>
                    <h3><span style="color:#248822"><b>Your Only Pharmacist</b></span></h3>

                    <p style="color:#0a0a0a"> 바쁜 일상 속에 약국을 들리기 어려운 현대인들을 위한 ML기반 진단 시스템. 
                        <br>회사에서도 집에서도 당신만의 약사를 만나보세요. </p>

                    <p><a class="btn btn-success btn-lg" href="#Searching">진단하기<i class="icon icon-angle-center"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="Services">
    <!-- Example row of columns -->
    <div class="row features">
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                <div>
                <span class="icon-stack icon-4x">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-ok icon-light"></i>
</span>
                </div>
                <h2>With <span style="color:#248822">Yakpago</span></h2>

                <p>약파고 스마트 의약품 추천 서비스는 언제 어디서든 PC,모바일에서 모두 사용 가능한 편리하고 쉽게 접근 가능한 서비스입니다. 또한 수집된 개인정보는 진단의 목적을 위해 처리되며, 
                   이외의 용도로는 사용되지 않습니다 </p>

            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                <div>
                <span class="icon-stack icon-4x">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-laptop icon-light"></i>
</span>
                </div>
                <h2>Fully <span style="color:#248822">Responsive</span></h2>

                <p>약파고 스마트 의약품 추천 서비스는 입력한 정보를 기반으로 즉각적으로 진단 후 결과를 바로 확인할 수 있도록 제공합니다. </p>

            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                <div>
                <span class="icon-stack icon-4x">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-download-alt icon-light"></i>
</span>
                </div>
                <h2>And Totally <span style="color:#248822">Free</span></h2>

                <p>약파고 스마트 의약품 추천 서비스는 별도의 요금 없이 누구나 무료로 사용할 수 있는 제품입니다. 
                    경제적 문제나 사회적으로 어려운 위치에 있는 사람들을 위한 의료 기능 탑재하고 있습니다. </p>

            </div>
        </div>

    </div>

    <br>
    <br>


</div>

<section class="contact" id="Searching">
    <div class="container">
        <div class="row">
            <h2 class="short text-center"><strong>당신의 정보를 입력하세요</strong></h2>
        </div>
        <br><br>
            <form class="clearfix" accept-charset="utf-8" method="POST" action="/">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-sm-12 form-group">
                            <label for="medicine">필요한 약품 종류를 선택하세요</label>
                            <select class="form-control form-control-lg" id="input_category" onchange="insertSubcategories()" name="category">
                                <option value="category_all">모두 선택</option>
                                    {% for category in categories%}
                                    <option value="{{category}}">{{category}}</option>
                                    {% endfor %}
                            </select>
                            <br>
                            <select class="form-control form-control-lg" id="input_subcategory" name="subcategory" >
                                <option value="subcategory_all">모두 선택</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="weight">체중(숫자만 입력, 소수점 불가능)</label>
                            <input type="text" placeholder="" value="" name="weight" id="input_weight" class="form-control input-lg">
                            <p id="weigt_reg">숫자만 입력해주세요.(소수점 불가능)</p>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="disease">기저질환이 있다면 입력해주세요.</label>
                            <input type="text" placeholder="" value="" name="disease" id="input_disease" class="form-control input-lg">
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="pregnant">임신 중이면 체크해주세요.</label><br>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="" value="true" name="pregnant"> 임신여부
                            </label>
                        </div>
                    </div>  <!--col-md-6-->
                    <div class="col-md-6">
                        <div class="col-sm-12 form-group">
                            <label for="disease">현재 복용중인 약품명을 입력해주세요</label>
                            <input id="input_medicine" type="text" name="" value="" placeholder="약품명 입력">
                            <input id="search_medicine" type="button" name="" value="검색">
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="table-responsive-md" style="height:220px; overflow-y:auto">
                                <table class="table" id="medicine_table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <input style="display:none;" type="text" placeholder="" value="" name="ingredients" id="input_ingredients" class="form-control input-lg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                    <button class="btn btn-success btn-lg align-items-center" id="input_page_button" type="submit">입력 완료</button>
                </div>
                </div>
            </form>
    </div>
</section>
<section class="pricing" id="Result">
        {% if scroll %} 
            <script> 
                document.getElementById('{{ scroll }}').scrollIntoView(); 
                //or 
                document.location.hash = '#' + '{{ scroll }}'; 
                document.getElementByClassName
            </script>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pricing-intro">
                        <h2 class="page-headline text-center" style="margin-top:0px; color:#248822;"><strong>추천 약품 List</strong></h2>
                        <p class="text-center">당신에게 딱 맞는 약품을 추천합니다!</p>
                    </div>
                </div>
            </div>
            <div class="container pricing-container">
                <div class="row text-right" style="padding: 0px 15px;">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="row pricing-table text-center">
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading"><p class="text-center item-name"></p></div>
                            <div class="panel-body medicine-image">
                                <p class="no_image" style="display: none;">이미지 없음</p>
                                <img style="display: none;" src="">
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <!-- <i class="icon-ok text-danger"></i> -->
                                <li class="list-group-item chart"> </li>
                                <li class="list-group-item effect"> </li>
                                <li class="list-group-item entp-name"> </li>
                                <li class="list-group-item storage-method"></li>
                                <li class="list-group-item valid-term"> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading"><p class="text-center item-name"></p></div>
                            <div class="panel-body medicine-image">
                                <p class="no_image" style="display: none;">이미지 없음</p>
                                <img style="display: none;" src="">
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item chart"> </li>
                                <li class="list-group-item effect"> </li>
                                <li class="list-group-item entp-name"> </li>
                                <li class="list-group-item storage-method"></li>
                                <li class="list-group-item valid-term"> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading"><p class="text-center item-name"></p></div>
                            <div class="panel-body medicine-image">
                                <p class="no_image" style="display: none;">이미지 없음</p>
                                <img style="display: none;" src="">
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item chart"> </li>
                                <li class="list-group-item effect"> </li>
                                <li class="list-group-item entp-name"> </li>
                                <li class="list-group-item storage-method"></li>
                                <li class="list-group-item valid-term"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding: 40px 15px 0px 70px;">
                        <h2 class="page-headline large"><strong>당신에게 필요한 약품은?</strong></h2>
                        <br>
                        <p class="pricing_explain">잘못된 약품 선택으로 인한 부작용이 걱정되시나요?</p>
                        <p class="pricing_explain"><span style="color:#248822"><b>Yakpago의 약품 추천 시스템</b></span>을 이용한다면 모든 걱정이 사라집니다!</p>
                        <p class="pricing_explain">지금 당장 이 버튼을 클릭하세요!</p>
                        <br><br>
                        <p><a class="btn btn-success btn-lg" href="#Searching">Click →</a></p>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <img id="pricing_img" src="../static/images/chemist.jpg">
                    </div>
                </div>
            </div>
        {% endif %}
</section>

<section class="slider" id="features">
    <div class="container">
        <div class="inner-page">
            <h1 class="page-headline large text-center">MAP</h1>

            <p class="text-center">가까운 약국을 지도에서 찾으세요</p>
            <div id="map" style="width:100%;height:550px; color:black"></div>

            <script type=text/javascript>

                var elements = document.getElementsByClassName("lat");
                var elements2 = document.getElementsByClassName("log");
                var elements3 = document.getElementsByClassName("name");
                var elements4 = document.getElementsByClassName("address");
                var elements5 = document.getElementsByClassName("number");
                var lelements = [];
                var lelements2 = [];
                var nelements = [];
                var aelements = [];
                var relements = [];
                //var marker = [];
                //var iwContent = [];
                //var infowindow = [];
                
                for(var i=0; i<elements.length; i++) {
                        nelements.push(elements3[i].innerHTML);
                        lelements.push(elements[i].innerHTML);
                        lelements2.push(elements2[i].innerHTML);
                        aelements.push(elements4[i].innerHTML);
                        relements.push(elements5[i].innerHTML);
                    }
                
                //내 위치 마커는 항상 오픈
                function success(position) {
                
                    const latitude  = position.coords.latitude;
                    //position.coords.latitude;
                    const longitude = position.coords.longitude;
                    //position.coords.longitude;
                
                    var map = new naver.maps.Map('map', {
                        center: new naver.maps.LatLng(latitude, longitude),
                        zoom: 17
                    });
                
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(latitude, longitude),
                        map: map
                    });
                
                    var bounds = map.getBounds(),
                        southWest = bounds.getSW(),
                        northEast = bounds.getNE(),
                        lngSpan = northEast.lng() - southWest.lng(),
                        latSpan = northEast.lat() - southWest.lat();
                
                    var markers = [],
                        infoWindows = [];
                
                    for (var i=0; i<lelements.length; i++) {
                
                        var disX = Math.round((latitude - lelements[i]) * 1e10) / 1e10;
                        var disY = Math.round((longitude - lelements2[i]) * 1e10) / 1e10;
                        var distance = Math.round(Math.sqrt(Math.abs(disX*disX) + Math.abs(disY*disY))*1e10) / 1e10;
                
                        if(distance <= 0.01) {
                
                            var position = new naver.maps.LatLng(
                                lelements[i],
                                lelements2[i]);
                
                            var marker = new naver.maps.Marker({
                                map: map,
                                position: position,
                                zIndex: 100
                            });
                
                            var infoWindow = new naver.maps.InfoWindow({
                                content: '<div style="width:300px;text-align:center;padding:10px;">' + nelements[i] + '<br>' + aelements[i]+ '<br>' + relements[i] +'</b>.</div>'
                            });
                
                            markers.push(marker);
                            infoWindows.push(infoWindow);
                        }
                    }
                
                    naver.maps.Event.addListener(map, 'idle', function() {
                        updateMarkers(map, markers);
                    });
                
                    function updateMarkers(map, markers) {
                
                        var mapBounds = map.getBounds();
                        var marker, position;
                
                        for (var i = 0; i < markers.length; i++) {
                
                            marker = markers[i]
                            position = marker.getPosition();
                
                            if (mapBounds.hasLatLng(position)) {
                                showMarker(map, marker);
                            } else {
                                hideMarker(map, marker);
                            }
                        }
                    }
                
                    function showMarker(map, marker) {
                
                        if (marker.setMap()) return;
                        marker.setMap(map);
                    }
                
                    function hideMarker(map, marker) {
                
                        if (!marker.setMap()) return;
                        marker.setMap(null);
                    }
                
                    // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
                    function getClickHandler(seq) {
                        return function(e) {
                            var marker = markers[seq],
                                infoWindow = infoWindows[seq];
                
                            if (infoWindow.getMap()) {
                                infoWindow.close();
                            } else {
                                infoWindow.open(map, marker);
                            }
                        }
                    }
                
                    for (var i=0, ii=markers.length; i<ii; i++) {
                        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                    }
                }
                
                function error() {
                    status.textContent = 'Unable to retrieve your location';
                }
                
                if(!navigator.geolocation) {
                    //geolocation을 지원하지 않음(위치정보없음 = 맨처음상태)
                  } else {
                    //지원함(위치정보있음)
                    navigator.geolocation.getCurrentPosition(success, error);
                  }
                </script>
        </div>
        <div class="row inner-page">
            <div class="col-md-8 col-md-push-4 lazy-container loaded">
                <!--<img data-original="images/mockup.png" src="images/mockup.png" alt="Looks great on every device"-->
                <!--class="lazy">-->

                <!--<body>
                    <div class="jumbotron map">
                        <h1>Hello, world!</h1>
                        <p>...</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                      </div>
                  </body>
                -->

               

            </div>
           
        </div>
    </div>
</section>



<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">For Your Better Life</h3>
            </div>
        </div>
    </div>
</section>




<br>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon" style="right: 0">
                <h3 class="title" style="margin: 0;padding: 5px 10px">Thank <span>You</span></h3>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>YAKPAGO</p>
                </div>
                <div class="col-md-5">
                    <p>&copy; Copyright 2020 by 20_PF029. All Rights Reserved.</p>
                </div>
                <div class="col-md-5">
                    <nav id="footer-menu">
                        <ul>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/main.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>