<!DOCTYPE html> 

<html lang="en"> 

<head> 

<title>부트스트랩4 사용하기</title> 

<meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 

<link rel="stylesheet" href="font.css"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 

</head> 

<body> 

<div class="container"> 

<h1>한글폰트체를 바꾸고 싶어요!  (2.5rem = 40px)</h1>   

<p>한글폰트체를 바꾸고 싶어요!  (1rem = 16px)</p> 

</div> 

</body> 

</html>