 /*폰트적용*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#age_reg {
    color: red;
    display: none;
}
#weigt_reg {
    color: red;
    display: none;
}
#input_medicine{
    width:80%;
    height:40px;
    font-size:1em;
    padding-left: 10px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
#search_medicine{
    width: 18%;
    height:45px;
    background-color:#5cb85c;
    border:none;
    background-color:#5cb85c;
    font-size:1.2em;
    color:#fff;
    outline:none;
    display:inline;
    margin-left: -10px;
    box-sizing: border-box;
    border-radius: 4px;
  }
.td_medicine {
  cursor: pointer;
}  
html,body {font-family:nanumgothic !important;}
#pricing_img {
  width: 80%;
  height: 60%;
}
.pricing_explain {
  margin-bottom: 5px;
  font-size: 15px;
}
.col-md-2.table-button {
  margin: 140px 0px;
  padding-left: 0px;
  padding-right: 0px;
  width:auto;
  height:auto;
}
.col-md-4.table-col-md-4 {
  width: 30%;
}
.btn.btn-light {
  padding: 0px;
  background-color: white;
}
.glyphicon.glyphicon-chevron-left::before {
  font-size:4em;
}
.glyphicon.glyphicon-chevron-right::before {
  font-size:4em;
}
.container.pricing-container {
  text-align: center;
}
.panel-body.medicine-image {
  padding: 0px;
  text-align: center;
}
.panel-heading.item-name {
}
.text-center.item-name {
  font-size: 4vw;
}