 /*폰트적용*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html,body {font-family:nanumgothic !important;}

#age_reg {
    color: red;
    display: none;
}
#weigt_reg {
    color: red;
    display: none;
}
#input_medicine{
    width:80%;
    height:40px;
    font-size:1em;
    padding-left: 10px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
#search_medicine{
    width: 18%;
    height:45px;
    background-color:#5cb85c;
    border:none;
    background-color:#5cb85c;
    font-size:1.2em;
    color:#fff;
    outline:none;
    display:inline;
    margin-left: -10px;
    box-sizing: border-box;
    border-radius: 4px;
  }
.td_medicine {
  cursor: pointer;
}  
#pricing_img {
  width: 80%;
  height: 60%;
}
.pricing_explain {
  margin-bottom: 5px;
  font-size: 15px;
}
.btn.btn-secondary {
  padding: 0px;
  background-color:#FAF9F8;
  color: #C8C8C8;
}
.glyphicon.glyphicon-chevron-left::before {
  font-size:3em;
}
.glyphicon.glyphicon-chevron-right::before {
  font-size:3em;
}
.panel-body.medicine-image {
  padding: 0px;
  text-align: center;
}
.text-center.item-name {
  font-size: 20px;
  font-weight: bold;
}
.no_image {
  font-size: 23px;
  font-weight: bold;
  margin: 81.5px 0px;
}
.storage-method {
  position: relative;
}
.bubble 
	{
  display: none;
	z-index:100;
	position: absolute;
	height: auto;
	padding: 10px 10px 10px 10px;
	background: #FFFFFF;
	border-radius: 5px;
	border: #7F7F7F solid 1px;
	position: absolute;
	font-size: 13px;
  text-align: left;
  top: 115%;
  left: 30%;
	}
	
	.bubble:after 
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 16px 20px 17.5px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -18.5px; 
	left: 65%; 
	}
	
	.bubble:before 
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 16px 20px 17.5px;
	border-color: #7F7F7F transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -20px;
	left: 65%;
  }
.more {
  cursor: pointer;
}